@keyframes animasi50dm {
    0% {top: 0;}
    100% {top: -1.3rem;
   }
        
} 
/* @keyframes animasi50dm {
    0% {top: 0;}
    100% {top: -1.3rem;
   }
        
} 
@keyframes animasi50dm {
    0% {top: 0;}
    100% {top: -1.3rem;
   }
        
} 
@keyframes animasi50dm {
    0% {top: 0;}
    100% {top: -1.3rem;
   }
        
} 
@keyframes animasi50dm {
    0% {top: 0;}
    100% {top: -1.3rem;
   }
        
}  */